<ion-content>
  <div class="d-flex justify-content-center align-items-center align-content-center h-100">
    @if (connectionLost) {
      <div class="d-flex flex-column align-items-center">
        <div class="icon mb-2"></div>
        <h4>{{ 'webHome.connectionLost' | translate }} 🫤</h4>
        <p>{{ 'webHome.retryIn' | translate:{ seconds: retryCountdown } }}</p>
        <ion-button (click)="connect()" class="mt-5">{{ 'webHome.retryNow' | translate }}</ion-button>
      </div>
    }
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-text class="ms-3">{{version}} | {{ 'webHome.clientId' | translate }}: {{clientId}}</ion-text>
  </ion-toolbar>
</ion-footer>
