<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'connectionFailed.title' | translate:{ name: name } }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" [strong]="true">{{ 'common.close' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group value="information">
    <ion-accordion value="information">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'common.information' | translate }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <b class="d-block mt-3">{{ 'connectionFailed.reasonsIntro' | translate }}</b>
        <ul>
          <li>{{ 'connectionFailed.reasonAntivirus' | translate }}</li>
          <li>{{ 'connectionFailed.reasonAdapter' | translate }}</li>
          <li>{{ 'connectionFailed.reasonPort' | translate }}</li>
          <li>{{ 'connectionFailed.reasonNetwork' | translate }}</li>
          <li>{{ 'connectionFailed.reasonVpn' | translate }}</li>
          <li>{{ 'connectionFailed.reasonRestart' | translate }}</li>
          <li>{{ 'connectionFailed.reasonWifi' | translate }}</li>
          <li>{{ 'connectionFailed.reasonRouter' | translate }}</li>
        </ul>
      </div>
    </ion-accordion>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'common.details' | translate }}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content"><span class="pre-wrap">{{errorInformation}}</span></div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
